doctype html
html(data-ng-app="catalogHome" data-ng-controller="initController as initCtrl" data-ng-init="initCtrl.init(#{data}, #{validResultsByPage}, #{defaultResultByPage}, #{facets})")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title #{__("pageTitle")}
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		meta(name='description', content='Acceso libre a la información sobre biodiversidad de Colombia! Open access to Colombian biodiversity information!')
		meta(property='og:title', content='Sistema de Información sobre Biodiversidad en Colombia')
		meta(property='og:type', content='website')
		meta(property='og:description', content='Acceso libre a la información sobre biodiversidad de Colombia! Open access to Colombian biodiversity information!')
		meta(property='og:url', content='http://www.biodiversidad.co/')
		meta(property='og:image', content='http://www.biodiversidad.co/images/logo_sib_s200x200.jpg')
		meta(property='og:site_name', content='Catalogo de especies de la biodiversidad de Colombia')
		meta(property='og:locale', content='es_ES')
		meta(name="google-site-verification" content="nm1-g-rVHscAi_K7O9e-s3EE7rEDorSu9OFagozmx3Q")

		base(href="/")

		<!-- build:css(src/public) stylesheets/final/vendor.css -->
		//- bower:css
		link(rel='stylesheet', href='../bower_components/bootstrap-sweetalert/lib/sweet-alert.css')
		link(rel='stylesheet', href='../bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')
		link(rel='stylesheet', href='../bower_components/Waves/dist/waves.min.css')
		link(rel='stylesheet', href='../bower_components/angular-loading-bar/build/loading-bar.css')
		link(rel='stylesheet', href='../bower_components/ng-table/dist/ng-table.min.css')
		link(rel='stylesheet', href='../bower_components/animate.css/animate.css')
		link(rel='stylesheet', href='../bower_components/mapbox.js/mapbox.css')
		link(rel='stylesheet', href='../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
		//- endbower
		<!-- endbuild -->

		<!-- build:css(src/public) stylesheets/final/app.css -->
		//- home:css
		link(rel="stylesheet", href="/stylesheets/style.css")
		//- endinject
		<!-- endbuild -->

	body(data-ng-class="{'sw-toggled': initCtrl.layoutType === true}")
		//- Cinta beta de cat{alogo anterior
		//-.wrapper-ribbon
			.ribbon-wrapper-green
				.ribbon-green BETA
		block content
			//-section#top-zone
				block header
			//-#content-wrapper
				block content
			//-section#footer-zone
				block footer

		<!-- build:js(src/public) javascripts/final/vendor.js -->
		//- bower:js
		script(src='../bower_components/jquery/dist/jquery.js')
		script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='../bower_components/lodash/lodash.js')
		script(src='../bower_components/angular/angular.js')
		script(src='../bower_components/angular-animate/angular-animate.js')
		script(src='../bower_components/angular-resource/angular-resource.js')
		script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
		script(src='../bower_components/bootstrap-sweetalert/lib/sweet-alert.js')
		script(src='../bower_components/Waves/dist/waves.min.js')
		script(src='../bower_components/angular-sanitize/angular-sanitize.js')
		script(src='../bower_components/angular-loading-bar/build/loading-bar.js')
		script(src='../bower_components/ng-table/dist/ng-table.min.js')
		script(src='../bower_components/remarkable-bootstrap-notify/bootstrap-notify.js')
		script(src='../bower_components/select2/dist/js/select2.js')
		script(src='../bower_components/get-style-property/get-style-property.js')
		script(src='../bower_components/get-size/get-size.js')
		script(src='../bower_components/eventie/eventie.js')
		script(src='../bower_components/doc-ready/doc-ready.js')
		script(src='../bower_components/eventEmitter/EventEmitter.js')
		script(src='../bower_components/matches-selector/matches-selector.js')
		script(src='../bower_components/fizzy-ui-utils/utils.js')
		script(src='../bower_components/outlayer/item.js')
		script(src='../bower_components/outlayer/outlayer.js')
		script(src='../bower_components/masonry/masonry.js')
		script(src='../bower_components/imagesloaded/imagesloaded.js')
		script(src='../bower_components/jquery-bridget/jquery.bridget.js')
		script(src='../bower_components/angular-masonry/angular-masonry.js')
		script(src='../bower_components/mapbox.js/mapbox.js')
		script(src='../bower_components/angular-translate/angular-translate.js')
		script(src='../bower_components/angular-cookies/angular-cookies.js')
		script(src='../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js')
		script(src='../bower_components/angular-translate-storage-local/angular-translate-storage-local.js')
		script(src='../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
		script(src='../bower_components/jquery-mousewheel/jquery.mousewheel.js')
		script(src='../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
		script(src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
		//- endbower
		<!-- endbuild -->

		<!-- build:js(src/public) javascripts/final/app.js -->
		//- home:js
		script(src="/javascripts/home/catalogApp.js")
		script(src="/javascripts/home/services/catalogAppServices.js")
		script(src="/javascripts/home/filters/contentListFilters.js")
		script(src="/javascripts/home/factories/contentList.js")
		script(src="/javascripts/home/directives/directives.js")
		script(src="/javascripts/home/controllers/catalogAppController.js")
		script(src="/javascripts/home/config.js")
		script(src="/javascripts/modules/sweetalert.js")
		//- endinject
		<!-- endbuild -->

		block scripts
